.topCard {

    background-color: #3c3c3d;
    color: white;
    height: 70px;
    ;
}

.card {
    flex-direction: row !important;
    justify-content: space-between;
}



.topCard span {
    margin-top: 0.3rem;

}

.epochInput .valueInput::before {
    content: "  ";
    width: 5rem;
}

.epochView {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.lineChart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}